{% extends "main/common_template.html" %}
{% block meta %}
<meta name="format-detection" content="telephone=no" />
{% endblock %}

{% block title%}
<title> О компании - Фотосалон Zoom34 Волгоград</title>
{% endblock %}

{% block content %}
        <h1>О нас </h1>

        <p>Наш фотосалон работает в городе Волгоград с 2006 года.</p>
        <p>У нас достаточно опыта для изготовления качественной, соответсвующей всем требованиям, фотографии.</p>
        <p>Мы уверены в качестве своей работы! Это подверждает наличие более 1000 постоянных благодарных клиентов.</p>

        <footer>
          <p>ИП Охрименко Алла Константиновна</p>
          <p>ИНН 346001480690; ОГРН 306346002700021</p>
        </footer>

        <div class="wrap-btn hidde-lg">
          <a href="{% url 'feedback' %}" class="btn">Связаться с нами</a>
        </div>
{% endblock %}
