{% extends "main/common_template.html" %}

{% block addins  %}
  {% load static %}
   <script src="{% static 'main/js/jquery.min.js' %}"> </script>
   <script src="{% static 'main/js/form_engine.js' %}"> </script>
{% endblock %}

{% block content %}

       <h1>Фото на документы </h1>

        <div class="photo_single photo_single--photo"></div>

        <h2>Наши преимущества</h2>
        <div class="center-lg-left">
          <ul class="list-green list-green--photo">
            <li>Делаем множество кадров</li>
            <li>Бесплатная обработка</li>
            <li>Результат через 5 минут</li>
            <li>Профессиональное оборудование</li>
            <li>Освещение без теней</li>
            <li>Монтаж (пиджак, форма)</li>
          </ul>
        </div>

        <div class="lg-width-100 lg-width-100--photo">
          <div>
            <p class="warning warning--photo">Не устроил результат?&nbsp;<br class="hidde-md"> Не возьмем оплату!</p>

            <p class="discount"><span class="strong">СКИДКИ 10%</span> по промкоду</p>

            <form id='promo_form' action="" class="form form--promo">
              <h2>Введите данные, для отправки кода на электронную почту</h2>
                {% csrf_token %}
                {% for field in promo_form %}
                  {{field}}
                {% endfor %}

              <button class="btn btn--theme">Сгенерировать код</button>
            </form>


          </div>
        </div>



    <script>
        (function(){
            let url = "{% url 'promo' %}";
            let form_id = 'promo_form';

            let mediator = (new FormMediatorFactory()).getMediator(document.querySelector('form'));
            let handler = (new ResponseHandlerFactory(mediator)).getResponseHandler();
            document.getElementById(form_id).addEventListener('submit', function(e){
                e.preventDefault();
                ajax_form_request(url, form_id, handler);
            });


        })();

    </script>
    </script>

{% endblock %}
