@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2"), url("../fonts/Roboto-Light.woff"), url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2"), url("../fonts/Roboto-Regular.woff"), url("../fonts/Roboto-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #383838;
  font-weight: 300;
}
@media (min-width: 1024px) {
  body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  width: 100%;
}
main.wrap {
  padding: 0;
}
@media (min-width: 1024px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
img {
  max-width: 100%;
}
a {
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  font-weight: 300;
}
a:hover {
  color: #0BC4AF;
  text-decoration: underline;
}
.wrap {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 1260px) {
  .wrap {
    max-width: 1110px;
  }
}
@media (min-width: 1600px) {
  .wrap {
    max-width: 1370px;
  }
}
@media (min-width: 736px) {
  .hidde-md {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hidde-lg {
    display: none;
  }
}
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}
.list-green {
  list-style: none;
  margin: 0;
  padding-left: calc(2em + 37px);
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
@media (min-width: 736px) {
  .list-green {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
  }
}
@media (min-width: 736px) {
  .list-green {
    padding-left: 45px;
  }
}
@media (min-width: 1600px) {
  .list-green {
    font-size: 22px;
  }
}
.list-green li {
  position: relative;
  margin-bottom: 1em;
}
.list-green li::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #0BC4AF;
  position: absolute;
  left: -2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.discount {
  margin: 0;
  padding: 1em 0 1em;
}
.strong {
  font-weight: normal;
  font-size: 21.0881px;
  line-height: 25px;
}
@media (min-width: 1024px) {
  .strong {
    font-size: 28.568px;
    line-height: 33px;
  }
}
@media (min-width: 1024px) {
  .lg-width-100 {
    text-align: center;
    position: relative;
    padding-top: 75px;
    left: -66.3%;
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1024px;
  }
}
@media (min-width: 1600px) {
  .lg-width-100 {
    left: -38%;
  }
}
.clearfix::after,
.clearfix::before {
  content: '';
  display: block;
  clear: both;
}
.center {
  text-align: center;
}
.center-lg-left {
  text-align: center;
}
@media (min-width: 1024px) {
  .center-lg-left {
    text-align: left;
  }
}
.single section p.p-ordered {
  margin-top: 33%;
  text-align: center;
}
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: 2px solid #0BC4AF;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  color: #383838;
  text-decoration: none;
}
@media (min-width: 736px) {
  .btn {
    padding: 20px 30px;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .btn {
    font-size: 20px;
  }
}
.btn:hover {
  text-decoration: none;
  background-color: rgba(11, 196, 175, 0.17);
  color: #383838;
}
.btn:focus,
.btn:active {
  background-color: #0BC4AF;
}
.btn--theme {
  background: #0BC4AF;
}
.btn--theme:hover {
  text-decoration: none;
  background: rgba(11, 196, 175, 0.7);
  border-color: rgba(11, 196, 175, 0.64);
  color: #383838;
}
.btn--theme:focus,
.btn--theme:active {
  background: rgba(11, 196, 175, 0.51);
  border-color: rgba(11, 196, 175, 0.64);
}
.wrap-btn {
  padding-top: 25px;
  text-align: center;
}
@media (min-width: 736px) {
  .wrap-btn {
    padding-top: 50px;
  }
}
.breadcrumbs {
  background-color: #F8F8F8;
  padding-top: 12px;
  padding-bottom: 12px;
}
.breadcrumbs p {
  margin: 0;
}
.breadcrumbs p a {
  font-weight: 300;
  font-size: 14px;
  color: #0BC4AF;
  text-decoration: none;
}
.breadcrumbs p a:first-child {
  color: #383838;
}
@media (min-width: 736px) {
  .breadcrumbs {
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .breadcrumbs {
    display: none;
  }
}
.single .aside {
  display: none;
}
@media (min-width: 1024px) {
  .single .aside {
    display: block;
  }
}
.single section {
  position: relative;
}
@media (min-width: 1260px) {
  .single section {
    max-width: 1110px;
  }
}
@media (min-width: 1600px) {
  .single section {
    max-width: 1370px;
  }
}
.single section::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.04;
  background-image: url(../img/bg_single.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
@media (min-width: 736px) {
  .single section::before {
    background-size: 80%;
    background-position: right bottom;
  }
}
.single h1 {
  font-weight: normal;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 25px 0 20px;
}
@media (min-width: 736px) {
  .single h1 {
    padding: 1em 0 2em;
    font-size: 30px;
    line-height: 35px;
  }
}
@media (min-width: 1024px) {
  .single h1 {
    padding-top: 0;
    padding-bottom: 82px;
    text-align: left !important;
  }
}
.single h2 {
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}
@media (min-width: 736px) {
  .single h2 {
    font-size: 27px;
    line-height: 32px;
  }
}
@media (min-width: 1024px) {
  .single h2 {
    text-align: left!important;
  }
}
.single h2.text-light {
  width: 100%;
  margin-top: 0;
  text-align: left;
  font-weight: 300;
}
.single section {
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.single section p {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin: 0 0 1em;
}
@media (min-width: 736px) {
  .single section p {
    font-size: 22px;
    line-height: 167.4%;
  }
}
@media (min-width: 736px) {
  .single section p {
    font-size: 20px;
    line-height: 167.4%;
  }
}
.single section footer p {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
@media (min-width: 736px) {
  .single section footer p {
    font-size: 18px;
    line-height: 167.4%;
    letter-spacing: 0;
  }
}
@media (min-width: 1024px) {
  .single section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1024px) {
  .single main {
    padding-top: 50px;
  }
  .single main div.wrap {
    min-width: 60%;
    margin-left: 80px;
  }
  .single .wrap__aside {
    min-height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.single .photo_single {
  padding-bottom: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 2em;
}
.single .photo_single--photo {
  background-image: url(../img/bg_photo.jpg);
}
@media (min-width: 1024px) {
  .single .photo_single {
    margin-left: -50px;
  }
}
@media (min-width: 1260px) {
  .single .photo_single {
    margin-right: -50px;
  }
}
@media (min-width: 1600px) {
  .single .photo_single {
    margin-right: -90px;
  }
}
.list-contact {
  display: inline-block;
  list-style: none;
  margin: -1.5em 0 1.5em;
  padding: 0;
  text-align: left;
}
.list-contact .list-contact__item {
  position: relative;
  padding-left: 55px;
  padding: 1.5em 0 1.5em 55px;
  font-size: 17px;
  line-height: 129.4%;
  letter-spacing: 0.02em;
}
@media (min-width: 736px) {
  .list-contact .list-contact__item {
    padding: 1em 0 1em 75px;
    font-size: 22px;
    line-height: 129.4%;
  }
}
@media (min-width: 1024px) {
  .list-contact .list-contact__item {
    padding-left: 53px;
  }
}
.list-contact .list-contact__item a {
  position: relative;
  text-decoration: none;
  color: #383838;
}
.list-contact .list-contact__item a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #383838;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.list-contact .list-contact__item a.active {
  color: #0BC4AF;
}
.list-contact .list-contact__item a.active::after {
  background-color: #0BC4AF;
}
.list-contact .list-contact__item a:hover {
  text-decoration: none;
  color: #0BC4AF;
}
.list-contact .list-contact__item a:hover::after {
  background-color: #0BC4AF;
}
.list-contact .list-contact__item::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.list-contact .list-contact__item--geo::before {
  background-image: url(../img/icon-geo.png);
}
.list-contact .list-contact__item--email::before {
  background-image: url(../img/icon-email.png);
}
.list-contact .list-contact__item--phone::before {
  background-image: url(../img/icon-phone.png);
}
@media (min-width: 736px) {
  .list-contact .md-right {
    float: right;
    margin-left: 140px;
  }
}
@media (min-width: 1024px) {
  .list-contact .md-right {
    margin-left: 20px;
  }
}
.chart {
  text-align: left;
  font-size: 17px;
  line-height: 176.7%;
  letter-spacing: 0.02em;
}
@media (min-width: 736px) {
  .chart {
    font-size: 22px;
    line-height: 176.7%;
  }
}
.chart caption {
  font-weight: 500;
}
@media (min-width: 736px) {
  .chart caption {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .chart caption {
    text-align: left;
  }
}
.chart td {
  padding: 2px 26px 0 0;
}
.chart td:last-child {
  text-align: right;
  padding-right: 0;
}
.wrap-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.map {
  display: block;
  width: 100%;
  height: 246px;
}
@media (min-width: 736px) {
  .map {
    height: 352px;
  }
}
@media (min-width: 1024px) {
  .map {
    width: 58%;
    float: right;
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 45px;
  width: 100%;
}
.form h2 {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
@media (min-width: 736px) {
  .form h2 {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  .form {
    margin: 0 0 45px;
  }
}
.form input[type='text'],
.form input[type='email'],
.form input[type='tel'] {
  max-width: 250px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 30px;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.48);
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
}
@media (min-width: 325px) {
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='tel'] {
    min-width: 250px;
  }
}
@media (min-width: 736px) {
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='tel'] {
    max-width: 285px;
  }
}
.form input[type='text']:hover,
.form input[type='email']:hover,
.form input[type='tel']:hover {
  border-bottom: 1px solid rgba(11, 196, 175, 0.48);
}
.form .btn {
  margin-top: 25px;
}
::-webkit-input-placeholder {
  color: rgba(56, 56, 56, 0.33);
}
::-moz-placeholder {
  color: rgba(56, 56, 56, 0.33);
}
:-ms-input-placeholder {
  color: rgba(56, 56, 56, 0.33);
}
::-ms-input-placeholder {
  color: rgba(56, 56, 56, 0.33);
}
::placeholder {
  color: rgba(56, 56, 56, 0.33);
}
header {
  display: block;
}
header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 736px) {
  header .wrap {
    padding-bottom: 50px;
    padding-top: 40px;
  }
}
@media (min-width: 736px) {
  .single header .wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.header__logo {
  width: 62px;
}
@media (min-width: 736px) {
  .header__logo {
    width: 97px;
  }
}
@media (min-width: 1024px) {
  .header__logo {
    display: none;
  }
}
.header__pone {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #383838;
  text-decoration: none;
}
@media (min-width: 736px) {
  .header__pone {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (min-width: 1024px) {
  .header__pone {
    font-weight: 500;
    font-size: 20px;
  }
}
.header__pone::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #383838;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.header__pone.active {
  color: #0BC4AF;
}
.header__pone.active::after {
  background-color: #0BC4AF;
}
.header__pone:hover {
  text-decoration: none;
}
.header__pone:hover::after {
  background-color: #0BC4AF;
}
@media (min-width: 1024px) {
  body:not(.single) .header__pone {
    color: #F1F1F1;
  }
  body:not(.single) .header__pone::after {
    background-color: #F1F1F1;
  }
  body:not(.single) .header__pone:hover {
    color: #0BC4AF;
  }
  body:not(.single) .header__pone:hover::after {
    background-color: #0BC4AF;
  }
}
.wrap__aside {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .wrap__aside {
    min-width: 30%;
  }
}
.aside {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .aside {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  body:not(.single) .wrap__aside {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    max-width: 1024px;
    padding: 0;
  }
}
@media (min-width: 1260px) {
  body:not(.single) .wrap__aside {
    max-width: 1110px;
  }
}
@media (min-width: 1600px) {
  body:not(.single) .wrap__aside {
    max-width: 1370px;
  }
}
body:not(.single) .aside {
  width: 100%;
}
@media (min-width: 1024px) {
  body:not(.single) .aside {
    width: auto;
    padding-left: 15px;
  }
}
@media (min-width: 1260px) {
  body:not(.single) .aside {
    width: auto;
  }
}
body:not(.single) .aside::after {
  content: '';
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  z-index: -1;
  background-image: url(../img/bg_index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.07;
}
@media (min-width: 736px) {
  body:not(.single) .aside::after {
    background-image: url(../img/bg_index@md.jpg);
    position: static;
    opacity: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 500px;
    width: calc(100% + 30px);
  }
}
@media (min-width: 1024px) {
  body:not(.single) .aside::after {
    background-image: url(../img/bg_index@lg.jpg);
    position: absolute;
    width: 58.7%;
    height: 100%;
    left: 41.3%;
    top: 0;
  }
}
@media (min-width: 1260px) {
  body:not(.single) .aside::after {
    width: 64.2%;
    left: 35.8%;
  }
}
@media (min-width: 1600px) {
  body:not(.single) .aside::after {
    width: 65.44%;
    left: 34.56%;
  }
}
.aside__nav {
  display: inline-block;
  border-bottom: 1px solid #C4C4C4;
}
.aside__logo {
  width: 119.74px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 45px;
}
@media (min-width: 736px) {
  .aside__logo {
    width: 144px;
    margin-top: 0;
    margin-bottom: 80px;
  }
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 736px) {
  .nav__list {
    padding-bottom: 30px;
  }
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.nav__item::before {
  content: '';
  display: inline-block;
  margin-right: 30px;
  width: 30px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.nav__item--photo::before {
  background-image: url(../img/icon-photo.png);
}
.nav__item--about::before {
  background-image: url(../img/icon_about.png);
}
.nav__item--contact::before {
  background-image: url(../img/icon_contact.png);
}
.nav__link {
  position: relative;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
  text-decoration: none;
}
@media (min-width: 736px) {
  .nav__link {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (min-width: 1600px) {
  .nav__link {
    font-size: 22px;
    line-height: 26px;
  }
}
.nav__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #383838;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.nav__link.active {
  color: #0BC4AF;
}
.nav__link.active::after {
  background-color: #0BC4AF;
}
.nav__link:hover {
  text-decoration: none;
}
.nav__link:hover::after {
  background-color: #0BC4AF;
}
.aside__btn {
  margin-top: 40px;
}
@media (min-width: 736px) {
  .aside__btn {
    margin-bottom: 50px;
  }
}
.warning {
  font-weight: normal!important;
  font-size: 20px!important;
  line-height: 23px!important;
  text-align: center!important;
}
@media (min-width: 736px) {
  .warning {
    font-size: 24px!important;
    line-height: 28px!important;
  }
}
@media (min-width: 736px) {
  .warning {
    font-size: 32px!important;
    line-height: 37px!important;
  }
}
.list-green--photo {
  text-align: left;
  display: inline-block;
  padding-top: 1em;
}
.lg-width-100--photo {
  text-align: center;
}
.warning--photo {
  padding-top: 40px;
}
@media (min-width: 1024px) {
  .warning--photo {
    padding-top: 0;
  }
}
.footer {
  display: block;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 10px 0;
  background-color: #C0B6B6;
}
